<p id="notice"><%= notice %></p>

<div class="topnav">
  <a class="left">Musée des Femmes dans l'Art</a>
  <a href="<%= new_theme_path %>" class="right">Ajouter un thème</a>
</div>

<div class="separator"></div>

<div class="introduction">
<a>Le musée de la Femme dans l’art vous présente sa collection d’oeuvres. Nous avons regroupé quelques une de nos oeuvres préférées dans cette sélection non exhaustive. Nous vous proposons donc de célébrer la femme à travers différents thèmes, les femmes et l’amour, les femmes dans le tourment,...</a>
<a>Nous vous souhaitons une bonne découverte et espérons que cette présentation vous inspire...
</a></div>

<% @themes.each do |theme| %>
<!--début-->
<div id="myModal<%= theme.numero %>" class="modal">
    <h1><%= theme.title %></h1>
  </div>

  <div class="modal-body">
    
 
</div>
<!--fin-->
<% end %>


