/* Add a black background color to the top navigation */

html, body {
  font-family: 'Saira Extra Condensed', sans-serif !important;
  font-size: 30px;
  margin: 2%;
  color: #297CA0;
}

.topnav {
  background-color: #46185f;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}
.topnav a.left {
  float: left;
}
.topnav a.right {
  float: right;
}
/* Change the color of links on hover */
.topnav a.right:hover {
  background-color: #297CA0;
  color: #f2f2f2;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f2f2f2;
  color: white;
}

.separator {
  height: 68px;
}

.introduction{
  position: center;
  font-size: 40px;
  color: #46185f;
  margin: 10%; 

}

.modal{
  color: #46185f;
  font-size: 50px;
  margin: 5%;
}

img.art {
  height: 450px;
  margin: 0 auto;
  float: right;
  margin: 2%;
}

.button-container {
  color: #297CA0;
  font-size: 25px;
  float: right;
  margin: 0,5%;
}